@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Nunito", serif;
}

.dragging {
  opacity: 0.5;
  transform: scale(1.1);
}


.answer-box {
  border: 1px dashed #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9f7fe;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.columns {
  display: flex;
  gap: 40px;
}

.items-column {
  display: flex;
  flex-direction: column;
}

.images-column {
  display: flex;
  flex-direction: column;
}




.app {
  text-align: center;
  margin-top: 30px;
}

.board-container {
  position: relative;
  display: inline-block;
}


.row {
  display: flex;
}

.cell {
  justify-content: center;
  align-items: center;
}
.cell.selected {
  background-color: #98d0f0;
}

.actions {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #FFDDA2CC;
  cursor: pointer;
}

.button:hover {
  background-color: #FFDDA2CC;
}

.info {
  margin-top: 20px;
  font-size: 18px;
}

.svg-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
